/*
Styles for template: event-football
*/

/* common */
.page-template-event-lc-final {
    background-color: #000;
}

.header {
    background-color: #000;
    padding: 20px 0;
    position: relative;
}

.licence-logo {
    max-width: 188px;
    position: absolute;
    right: 0;
    top: 90%;
}

.licence-logo-responsive {
    display: none;
    max-width: 188px;
    position: absolute;
    right: 0;
    top: 90%;
}

.font-size-110px {
    font-size: 110px;
}

.event-football {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*height: 100vh;*/
    position: relative;
    max-width: 1920px;
    margin: auto;
}

.event-footbal-content {
    padding-top: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

/* header */
.header-logo .header-logo__title {
    font-family: "Bazabet", "Formular", sans-serif;
    font-size: 45px;
    color: #00b140;
    margin-bottom: -8px;
    margin-left: -2px;
}

.header-logo .header-logo__subtitle {
    font-weight: 200;
    font-size: 15px;
}

.header-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.header-benefits__benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.header-benefits__benefit img {
    margin-right: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.header-benefits__benefit img.point-icon {
    position: absolute;
    top: 34%;
    left: -17px;
}

.header-benefits__benefit_text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 13px;
    line-height: 17px;
}

/* main-content */
.main-content {
    text-align: center;
    font-family: "Bazabet", "Formular", sans-serif;
    z-index: 5;
}

.row-event-football__main-content {
    position: relative;
}

.col-main-content {
    z-index: 10;
}

.player-left, .player-right,
.player-responsive {
    -webkit-filter: drop-shadow(10px 15px 15px #000);
    filter: drop-shadow(10px 15px 15px #000);
}

.player-left img {
    width: 246px;
    height: 341px;
    margin-top: 70px;
}

.player-right img {
    width: 190px;
    height: 330px;
    margin-top: 60px;
}

.main-content__team {
    position: relative;
}

.main-content__team h2 {
    font-size: 40px;
}

.main-content__versus-text {
    font-size: 110px;
    padding-top: 20px;
}

.lc-logo {
    margin-bottom: 50px;
}

.main-content__date_day {
    font-size: 53px;
    line-height: 53px;
    text-shadow: 1px 1px 1px black, 0 0 5px #000;
}

.main-content__date_time {
    font-size: 44px;
    text-shadow: 1px 1px 1px black, 0 0 5px #000;
}

.lc-trophy {
    position: relative;
}

.lc-trophy::after {
    content: "";
    width: 155px;
    height: 35px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 95px;
    right: 0;
    -webkit-box-shadow: 0px 10px 89px 20px rgb(78, 118, 187);
    -moz-box-shadow: 0px 10px 89px 20px rgb(78, 118, 187);
    box-shadow: 0px 10px 89px 20px rgb(78, 118, 187);
    background-color: rgba(78, 118, 187,.6);
    z-index: -1;
    border-radius: 61%;
}

.lottery {
    padding-top: 54%;
}

.main-content__cta {
    padding-top: 66%;
}

.main-content__cta a {
    font-family: "Formular", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    padding: 10px 0;
    background-color: #00b140;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#019737), to(#00cc4a));
    background-image: -webkit-linear-gradient(bottom, #019737 0%, #00cc4a 100%);
    background-image: -o-linear-gradient(bottom, #019737 0%, #00cc4a 100%);
    background-image: linear-gradient(to top, #019737 0%, #00cc4a 100%);
    border-radius: 12px;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 374px;
    margin: auto;
    border: 2px solid #fff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0 #006d26;
    cursor: pointer;
}

.main-content__cta a:hover {
    text-decoration: none;
    background: #fff;
    color: #00b140;
    text-shadow: 1px 1px 0 #006d26;
    box-shadow: 0 0 12px #00b140;
}

.main-content__cta a:hover > .cta-link-icon .icon-arrow-right-mini {
    fill: #00b140;
}

.icon-arrow-right-mini {
    fill: #fff;
    height: 19px;
    margin-left: 22px;
    text-shadow: 1px 1px 0 #006d26;
}

.main-content__cta .cta-link-icon img {
    width: 23px;
    height: 23px;
}

/* Footer */
.event-footbal-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.footer-top {
    background-color: rgba(0, 0, 0, .5);
    padding: 60px 0 30px;
    margin-top: -35px;
}

.event-football-footer-row {
    padding: 20px 0 10px;
}

.footer-steps__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.footer-steps__step_icon {
    text-align: center;
}

.icon-reg img {
    width: 109px;
    height: 107px;
}
.icon-dep img {
    width: 123px;
    height: 108px;
}
.icon-bon img {
    width: 111px;
    height: 111px;
}

.icon-arr img {
    width: 40px;
    height: 44px;
}

.footer-steps__step_text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 30px;
    position: relative;
    margin-top: 25px;
}

.footer-bottom {
    background-color: rgba(83, 183, 86, 0.38);
    /*margin-top: -35px;*/
    padding: 55px 0 22px;
}

.footer-bottom h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

.pay-systems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0 30px;
}

.visa {
    width: 197px;
    height: 50px;
}

.privat24 {
    width: 294px;
    height: 53px;
}

.paymega {
    width: 270px;
    height: 50px;
}
/* For responsive */
/*.player-responsive {
    position: absolute;
    width: 40%;
    bottom: -5%;
}

.player-responsive-left {
    right: 2%;
}

.player-responsive-right {
    left: 2%;
}*/

/* MEDIA */
/* Desktop First Media Queries */
@media (max-width: 1499px) {

}

@media (max-width: 1199px) {
    .header-benefits__benefit_text {
        font-size: 11px;
    }
    .main-content__versus-text {
        font-size: 40px;
    }
    .main-content__cta a {
        font-size: 19px;
    }
    .lc-trophy::after {
        left: 64px;
    }
    .footer-top {
        padding: 40px 0 70px;
    }
    .footer-bottom {
        padding: 70px 0 22px;
    }
    .footer-bottom h3 {
        font-size: 42px;
    }
}

@media (max-width: 991px) {
    .header-benefits__benefit {
        display: none;
    }

    .main-content__team h2 {
        font-size: 20px;
    }

    .main-content__versus-text {
        font-size: 25px;
        padding-top: 80px;
    }

    .main-content__cta a {
        font-size: 20px;
        padding: 10px;
        max-width: 300px;
    }

    .icon-arrow-right-mini {
        height: 15px;
        margin-left: 22px;
    }

    .footer-steps__step_digit {
        font-size: 52px;
    }

    .footer-steps__step_text {
        font-size: 22px;
    }
    .licence-logo {
        display: none;
    }
    .licence-logo-responsive {
        display: initial;
        right: 9%;
        top: 20px;
    }
    .lottery {
        margin-top: 13%;
        background: #000;
        border-radius: 10px;
        padding: 7px;
    }
    .main-content__cta {
        padding-top: 30%;
    }
    .main-content__cta a {
        font-size: 15px;
        padding: 11px 20px;
        max-width: 300px;
    }
    .icon-arrow-right-mini {
        display: none;
    }
    .lc-trophy img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
    }
    .lc-trophy::after {
        left: 32px;
    }
    .footer-top {
        padding: 30px 0 40px;
    }
    .footer-bottom {
        padding: 60px 0 35px;
    }
    .footer-bottom h3 {
        font-size: 30px;
    }
    .visa {
        width: 118px;
        height: 35px;
    }

    .privat24 {
        width: 185px;
        height: 37px;
    }
    .paymega {
        width: 223px;
        height: 41px;
    }
}

@media (max-width: 767px) {
    .player-left, .player-right {
        display: none;
    }

    .row-event-football__main-content {
        padding-top: 10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .main-content__team h2 {
        font-size: 16px;
    }

    .main-content__versus-text {
        padding-top: 30px;
    }

    .main-content__date_day {
        padding-top: 0;
    }

    .cta-link-text a {
        font-size: 16px;
        max-width: 200px;
        padding: 5px;
    }

    .event-football-footer-row {
        padding: 50px 0 10px;
    }

    .footer-steps__step {
        max-width: 200px;
    }

    .footer-steps__step_text {
        font-size: 14px;
    }

    .footer-steps__step_text p {
        margin-bottom: 0;
    }

    .footer-steps__step_text::after {
        content: "";
        display: block;
        height: 1px;
        width: 75%;
        background-color: #00b140;
        position: absolute;
        bottom: -2px;

    }
    .footer-steps__step_digit {
        font-size: 16px;
        margin-right: 7px;
    }
    .lc-trophy::after {
        display: none;
    }
    .players-responsive {
        display: flex;
        justify-content: space-between;
    }
    .player-responsive-left {
        width: 200px;
        height: 300px;
    }
    .player-responsive-right {
        width: 200px;
        height: 270px;
    }
    .lottery {
        display: none;
    }
    .main-content__cta {
        padding-top: 5%;
        padding-bottom: 11%;
    }
    .main-content__cta a {
        font-size: 20px;
    }
    .icon-arrow-right-mini {
        display: initial;
    }
    .col-arr {
        text-align: center;
    }
    .col-arr span {
        text-align: center;
    }
    .icon-arr img {
        transform: rotate(90deg);
        margin: 30px;
    }
    .footer-steps__step_text::after {
        display: none;
    }
    .pay-systems {
        justify-content: center;
    }
}

@media (max-width: 465px) {
    .licence-logo {
        display: none;
        right: 0;
        max-width: 80px;
    }
    .licence-logo-responsive {
        display: initial;
        right: 0;
        max-width: 80px;
    }
    .player-responsive-left {
        width: 150px;
        height: 300px;
    }
    .player-responsive-right {
        width: 120px;
        height: 270px;
    }
    .lc-logo {
        max-width: 200px;
        height: 124px;
    }
}

/* Mobile First Media Queries */
@media (min-width: 768px) {
    .player-responsive {
        display: none;
    }
}

@media (min-width: 992px) {
    .licence-logo {
        display: none;
    }
}

@media (min-width: 1500px) {
    .licence-logo {
        display: initial;
        max-width: 140px;
        right: -21%;
        top: 0px;
    }
}

@media (min-width: 1886px) {
    .footer-top {
        padding: 60px 0 53px;
    }
}