$bazabetFont: "Bazabet", sans-serif;
$formularBold: "Formular-Bold", sans-serif;
$formularMedium: "Formular-Medium", sans-serif;
$formularLight: "Formular-Light", sans-serif;
$greenColor: #00b140;
$greenRGBA: rgba(0, 177, 64, 1);
$greenRGBA5: rgba(0, 177, 64, .7);
$greenRGBA2: rgba(0, 177, 64, .5);
$graphiteColor: #25303B;