$bazabetFont: "Bazabet", sans-serif;
$formularBold: "Formular-Bold", sans-serif;
$formularMedium: "Formular-Medium", sans-serif;
$formularLight: "Formular-Light", sans-serif;
$greenColor: #00b140;
$graphiteColor: #25303B;