.page-template-champions {
  display: none;
  user-select: none;
  background-color: #151d23;
  background-size: contain;
  text-align: left;
  .stad-bg {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--app-height);
  }

	.stad-bg-accessible {
		overflow: visible;
		touch-action: initial;
	}

  .container {
    max-width: 90%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
  }

  h1 {
    font-family: $bazabetFont;
    font-size: 4.5rem;
    color: $whiteColor;
    margin: 3.75rem auto 0;
    order: 1;
  }

  h2 {
    span {
      font-size: 4.5rem;
      color: $greenColor;
      letter-spacing: 0.375rem;
    }
    font-family: $bazabetFont;
    font-size: 3rem;
    margin: 2.75rem auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    order: 2;
  }

  .cta-button {
    margin: 2.75rem auto 0;
    order: 3;
    .cta-link {
      font-family: $formularMedium;
      font-size: 1.75rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.25rem 2.5rem;
      background-color: $greenColor;
      cursor: pointer;
      box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.37);
      transition: 0.5s;
      position: relative;
      letter-spacing: 0.125rem;
      height: 100%;
      display: block;
      &:hover {
        background-color: #009d39;
        box-shadow: none;
        cursor: pointer;
      }
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .prize {
    margin: 2.5rem auto 0;
    order: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    width: fit-content;
    &-sum {
      position: relative;
      font-size: 4rem;
      font-weight: 600;
      color: $whiteColor;
      z-index: 2;
      animation: scale-cta 3s infinite linear;
      display: flex;
      justify-content: center;

      span {
        position: absolute;
        top: 3%;
        left: 1%;
        width: max-content;
        display: block;
        color: #00a8e4;
        -webkit-text-stroke: 1px #00a8e4;
        -webkit-text-fill-color: transparent;
        z-index: -1;
      }

      i {
        position: absolute;
        bottom: -10%;
        right: -4%;
        width: max-content;
        font-size: 2.25rem;
        color: $blueColor;
      }
    }
    &-desc {
      margin-top: 1rem;
      font-size: 1.375rem;
    }
  }

  .description {
    margin-top: 2.5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    order: 5;
  }

  .bet-button {
    margin: 3.75rem auto 2rem;
    box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.37);
    overflow: hidden;
    order: 6;
    .bet-link {
      font-family: $formularMedium;
      font-size: 1.75rem;
      color: white;
      text-decoration: none;
      padding: 1.25rem 2.5rem;
      background: $gradientPurpleBlueColor;
      cursor: pointer;
      box-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.37);
      transition: 0.5s;
      position: relative;
      letter-spacing: 0.125rem;
      height: 100%;
      display: block;
      &:hover {
        background-color: #009d39;
        box-shadow: none;
        cursor: pointer;
      }
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
      &::after {
        content: "";
        top: 0;
        left: 0;
        transform: translateX(100%) rotate(45deg);
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(125, 185, 232, 0) 60%,
          rgba(255, 255, 255, 0.3) 80%,
          rgba(125, 185, 232, 0) 90%,
          rgba(125, 185, 232, 0) 100%
        );
        z-index: 2;
        animation: ease-out 2.5s infinite shine;
      }
    }
  }

  .green-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
    img {
      margin: 0 auto;
    }
  }

  .player-bg {
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 0;
    img {
      margin: 0 auto;
    }
  }

  .footer {
    position: relative;
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .footer-container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .pay-system {
    display: flex;
    order: 2;
    a {
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        img {
          width: 3rem;
        }
      }
    }
    img {
      width: 2rem;
    }
  }

  .app {
    display: flex;
    order: 1;
    a {
      margin-right: 1rem;
    }
    img {
      width: 6.75rem;
    }
  }

  .social {
    display: flex;
    order: 3;
    a {
      margin-left: 1rem;
    }
  }
}

@media (min-width: 568px) and (max-height: 567px) {
  .page-template-champions {
    .player-bg {
      img {
        width: 50%;
      }
    }
  }
}
