.page-template-event {
  background-color: #000;

  h1 {
    font-family: $bazabetFont;
    font-size: 73px;
    color: $greenColor;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }

  h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }

  .main {
    padding-top: 135px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    min-height: 1176px;
  }

  .event-data {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
    padding: 0 30px;

    .container {
      display: flex;
      flex-direction: column;
      @include orderFlexContainerChildren(1, 6);
			>div:nth-child(5) {
				order: 0;
			}
    }
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    padding: 0 30px;
  }

  .team-name {
    font-family: $bazabetFont;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 100px;
  }

  .team-name div {
    width: 340px;
  }

  .team-flag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .team-flag div {
    margin: 0 4%;
  }

  .team-flag img {
    max-width: 140px;
    height: 140px;
		border-radius: 51%;
  }

  .vs {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 40px;
    background: rgba(0, 195, 21, 0.5);
    border-radius: 50%;
    padding: 32px 18px 37px;
  }

  .coef {
    display: flex;
    justify-content: center;
    font-family: $bazabetFont;
    font-size: 40px;
  }

  .coef div {
    background-color: rgba(0, 195, 21, 0.5);
    padding: 7px 15px 0;
    border-radius: 5px;
    line-height: 1;
    margin: 40px 5% 0;
  }

  .date {
    margin-top: 75px;
    font-size: 26px;
  }

  .day {
    font-family: "Formular-bold", sans-serif;
    text-transform: uppercase;
  }

  .slogan {
    text-transform: uppercase;
    font-size: 36px;
    transform: translateY(40px);
    font-family: $formularMedium;
    max-width: 900px;
    margin: 0 auto;
  }

	.cta-button {
		transform: translate(0,100px);
	}

  .cta-button a svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .cta-button a svg .o1 {
    stroke: $greenColor;
    stroke-width: 3;
    transition: all 0.4s linear;
    fill: transparent;
  }

  .player-container {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .translated-left {
    transform: translate(30px, 0);
  }

  .translated-right {
    transform: translate(-30px, 0);
  }

  .player {
    position: absolute;
    bottom: 0;
    transition: transform 0.5s linear;
    max-width: 380px;
  }

  .player-left {
    left: 5%;
  }

  .player-right {
    right: 5%;
  }

  .footer {
    padding: 45px 0;
    background-color: #000;
  }

  .steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .step {
    display: flex;
    align-items: center;
  }

  .step-number {
    font-family: $bazabetFont;
    font-size: 73px;
    color: $greenColor;
  }

  .step-text {
    font-family: $formularBold;
    padding-bottom: 15px;
    border-bottom: 1px solid $greenColor;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 15px;
  }

  .footer {
    max-width: 1600px;
    margin: 0 auto;
  }
}

/* ========= Media Queries =========  */

@media (min-width: 1920px) {
  .page-template-event {
    .main {
      background-size: cover;
    }
  }
}

@media (max-width: 1400px) {
  .page-template-event {
    .slogan {
      font-size: 30px;
    }
  }
}

@media (max-width: 1270px) {
  .page-template-event {
    .slogan {
      font-size: 24px;
    }
  }
}

@media (max-width: 1080px) {
	.page-template-event {
  	.player {
      max-width: 275px;
      max-height: 350px;
    }
	}
}

@media (max-width: 992px) {
  .page-template-event {
    .slogan {
      font-size: 24px;
      max-width: 320px;
    }
  }
}

@media (max-width: 768px) {
  .page-template-event {
    .main {
      padding-top: 30px;
      background-position: top;
      background-size: 300%;
      padding-bottom: 30px;
      min-height: auto;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 14px;
    }
    .team-name {
      font-size: 22px;
      margin-top: 40px;
    }
    .team-name div {
      max-width: 100%;
      margin: 0 7%;
    }
    .team-flag img {
      max-width: 100px;
      max-height: 100px;
    }
    .vs {
      font-size: 22px;
      padding: 18px 12px 24px;
    }
    .player {
      display: none;
    }
    .slogan {
      transform: translateY(20px);
      font-size: 18px;
      max-width: 320px;
			transform: translateY(10px);
			font-size: 14px;
			max-width: 120px;
    }
    .coef {
      font-size: 22px;
    }
    .date {
      margin-top: 28px;
      font-size: 22px;
    }
    .coef div {
      margin: 15px 5% 0;
    }
    .cta-button {
      margin-top: 20px;
      transform: translate(0, 0);
      padding: 20px 30px;
    }
    .cta-button a {
      font-size: 16px;
      padding: 10px 15px;
    }
    .cta-button a svg {
      display: none;
    }
    .footer {
      padding: 20px 0;
      background-color: #000;
      position: relative;
    }
    .steps {
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .step-number {
      font-size: 36px;
    }
    .step-text {
      font-size: 14px;
      padding-bottom: 2px;
    }
  }
}

@media (max-width: 650px) {
  .page-template-event {
    .main {
      padding-bottom: 10px;
    }
    .team-name {
      font-size: 18px;
      margin-top: 26px;
    }
    .team-name div {
      max-width: 150px;
    }
    .team-flag {
      margin-top: 16px;
    }
    .player {
      max-width: 1200px;
      max-height: 150px;
    }
  }
}

@media (max-width: 480px) {
  .page-template-event {
    .cta-button a {
      font-size: 12px;
      padding: 5spx 4px;
    }
    .date {
      font-size: 12px;
    }
    .slogan {
      transform: translateY(10px);
      font-size: 14px;
      max-width: 120px;
    }
  }
}

/* iphone X */
@media (width: 375px) and (height: 812px) {
  .page-template-event {
    .cta-button a {
      font-size: 18px;
      padding: 5px 4px;
    }
  }
}

/* iPad landscape */
@media (width: 1024px) and (height: 768px) {
  .page-template-event {
    .main {
      padding-top: 25px;
      padding-bottom: 30px;
      min-height: auto;
    }
    .team-name {
      margin-top: 25px;
    }
    .slogan {
      transform: translateY(20px);
    }
    .cta-button {
      margin-top: 50px;
      transform: translate(0, 0);
    }
  }
}

/* iPad portrait */
@media (width: 768px) and (height: 1024px) {
  .page-template-event {
    .main {
      padding-top: 25px;
      padding-bottom: 30px;
      min-height: auto;
    }
    .team-name {
      margin-top: 25px;
    }
    .cta-button {
      margin-top: 50px;
      transform: translate(0, 0);
    }
    .event-data .container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 60vh;
    }
  }
}

/* iPad Pro landscape */
@media (width: 1366px) and (height: 1024px) {
  .page-template-event {
    .main {
      padding-top: 25px;
      padding-bottom: 30px;
      min-height: auto;
    }
    .team-name {
      margin-top: 25px;
    }
    .cta-button {
      margin-top: 50px;
      transform: translate(0, 0);
    }
  }
}

/* Laptop with HiDPI Screen */
@media (width: 1440px) and (height: 900px) {
  .page-template-event {
    .main {
      padding-top: 25px;
      padding-bottom: 30px;
      min-height: auto;
    }
    .team-name {
      margin-top: 25px;
    }
    .cta-button {
      margin-top: 50px;
      transform: translate(0, 0);
    }
  }
}

/* Laptop with MDPI Screen */
@media (width: 1280px) and (height: 800px) {
  .page-template-event {
    .main {
      padding-top: 25px;
      padding-bottom: 30px;
      min-height: auto;
    }
    .team-name {
      margin-top: 25px;
    }
    .cta-button {
      margin-top: 50px;
      transform: translate(0, 0);
    }
  }
}

@media (max-width: 650px) and (min-height: 376px) and (max-height: 850px) {
  .page-template-event {
    .event-data .container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 70vh;
    }
  }
}

/**  Specific Styles  */
.home {
  &.page-template-event {
    .main {
      height: 100vh;
    }
    .team-flag,
    .coef,
    .footer {
      display: none;
    }
    .cta-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
    }
  }
}

@media (max-height: 420px) {
  .home {
    &.page-template-event {
      .main {
        padding-top: 20px;
      }
    }
  }
}

@media (min-height: 375px) {
  .home {
    &.page-template-event {
      overflow: hidden;
    }
  }
}

@media (width: 812px) and (height: 375px) {
  .home {
    &.page-template-event {
      .cta-button {
        top: 0;
      }
    }
  }
}
