html {
  font-size: 8px;
}

.page-template-event {
  display: none;
  background-color: #000;
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  h1 {
    font-family: $bazabetFont;
    font-size: 4.5625rem;
    color: $greenColor;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }

  h2 {
    font-size: 1.625rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }

  .main {
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    max-width: 1920px;
    max-height: 1200px;
  }

  .container {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.875rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .event-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }

  .team-name {
    font-family: $bazabetFont;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    &-left {
      transform: translateX(-18%);
    }
    &-right {
      transform: translateX(18%);
    }
  }

  .team-name div {
    margin: 0 2%;
    max-width: 340px;
  }

  .team-flag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1.875rem auto;
  }

  .team-flag img {
    max-width: 8.75rem;
    height: 8.75rem;
  }

  .vs {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 2.5rem;
    background: rgba(0, 195, 21, 0.5);
    border-radius: 50%;
    padding: 2rem;
  }

  .coef {
    display: flex;
    justify-content: space-evenly;
    font-family: $bazabetFont;
    font-size: 2.5rem;
  }

  .coef div {
    background-color: rgba(0, 195, 21, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    line-height: 1;
    margin: 2.5rem 5%;
  }

  .date {
    font-size: 1.625rem;
  }

  .day {
    font-family: "Formular-bold", sans-serif;
    text-transform: uppercase;
  }

  .slogan {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-family: $formularMedium;
    max-width: 900px;
    margin: 0 auto;
  }

  .translated-left {
    transform: translate(30px, 0);
  }

  .translated-right {
    transform: translate(-30px, 0);
  }

  .players {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15%;
    display: none;
  }

  .player {
    position: absolute;
    bottom: 20px;
    transition: transform 0.5s linear;
    max-height: 200px;
    &-left {
      left: 10%;
    }
    &-right {
      right: 10%;
    }
  }

  .cta-button {
    animation: scale-cta 4s infinite linear;
    padding: 0.9375rem 2.5rem;
    a {
      font-family: $formularMedium;
      font-size: 2.0625rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.9375rem 2.5rem;
      background-color: $greenColor;
      cursor: pointer;
      box-shadow: 0.5rem 0.5rem 0 rgba(0, 31, 11, 0.3);
      transition: 0.5s;
      position: relative;
      letter-spacing: 0.125rem;
      &:hover {
        background-color: #009d39;
        box-shadow: none;
        cursor: pointer;
      }
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    .step {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      &-number {
        font-family: $bazabetFont;
        font-size: 3rem;
        color: $greenColor;
      }
      &-text {
        font-family: $formularBold;
        border-bottom: 1px solid $greenColor;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 1rem;
      }
    }
  }

  // @media (min-width: 600px) {

  // }
  @media (min-width: 801px) {
    .players {
      display: block;
    }
    .steps {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 0 1rem;
    }
  }
  @media (min-width: 1025px) {
    .player {
      bottom: 20px;
      max-height: 250px;
      &-left {
        left: 8%;
      }
      &-right {
        right: 8%;
      }
    }
  }
  @media (min-width: 1281px) {
    .main {
      min-height: 900px;
    }
    .player {
      bottom: 20px;
      max-height: 400px;
      &-left {
        left: 0;
      }
      &-right {
        right: 0;
      }
    }
  }
  // @media (min-width: 1921px) and (max-height: 882px) {

  // }
}

// @media (min-width: 2560px) and (min-height: 1151px) {
//   .container {
//     justify-content: space-evenly;
//   }
// }

@media (min-width: 568px) and (max-height: 567px) {
  .page-template-event {
    .player {
      display: none;
    }
  }
}

// @media (min-width: 801px)
// 			 and (min-height: 321px)
// 			 and (max-width: 1024px)
// 			 and (max-height: 567px) {
//   .page-template-event {

//   }
// }

// @media (max-height: 320px) {
//   html {
//     font-size: 6px;
//   }
//   .page-template-event {

//   }
// }
