.page-template-event {
  background-color: #000;
}

h1 {
  font-family: "Bazabet", sans-serif;
  font-size: 73px;
  color: #00b140;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

h2 {
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.main {
  padding-top: 135px;
  background: url(../img/sport-event-bg.jpg) no-repeat center top;
  position: relative;
  min-height: 1176px;
}

.event-data {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  padding: 0 30px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding: 0 30px;
}

.team-name {
  font-family: "Bazabet", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 100px;
}

.team-name div {
  width: 340px;
}

.team-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.team-flag div {
  margin: 0 4%;
}

.team-flag img {
  max-width: 140px;
  height: 140px;
}

.vs {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  font-size: 40px;
  background: rgba(0, 195, 21, 0.5);
  border-radius: 50%;
  padding: 32px 18px 37px;
}

.coef {
  display: flex;
  justify-content: center;
  font-family: "Bazabet", sans-serif;
  font-size: 40px;
}

.coef div {
  background-color: rgba(0, 195, 21, 0.5);
  padding: 7px 15px 0;
  border-radius: 5px;
  line-height: 1;
  margin: 40px 5% 0;
}

.date {
  margin-top: 75px;
  font-size: 43px;
}

.day {
  font-family: "Formular-bold", sans-serif;
  text-transform: uppercase;
}

.cta-button {
  margin-top: 100px;
  transform: translate(0, 100px);
  padding: 20px 30px;
}

.cta-button a {
  font-family: "Formular-bold", sans-serif;
  font-size: 33px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 30px;
  background-color: #00b140;
  cursor: pointer;
  box-shadow: 8px 8px 0 rgba(0, 31, 11, 0.6);
  transition: 0.5s;
  position: relative;
}

.cta-button a:hover {
  background-color: #003f16;
  box-shadow: none;
  cursor: pointer;
}

.cta-button a:hover,
.cta-button a:active,
.cta-button a:focus {
  outline: none;
  border: none;
}

.cta-button a svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cta-button a svg .o1 {
  stroke: #00b140;
  stroke-width: 3;
  transition: all 0.4s linear;
  fill: transparent;
}

.player-container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.translated-left {
  transform: translate(30px, 0);
}

.translated-right {
  transform: translate(-30px, 0);
}

.player {
  position: absolute;
  bottom: 0;
  transition: transform 0.5s linear;
  max-width: 380px;
}

.player-left {
  left: 5%;
}

.player-right {
  right: 5%;
}

.footer {
  padding: 45px 0;
  background-color: #000;
}

.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.step {
  display: flex;
  align-items: center;
}

.step-number {
  font-family: "Bazabet", sans-serif;
  font-size: 73px;
  color: #00b140;
}

.step-text {
  font-family: "Formular-bold", sans-serif;
  padding-bottom: 15px;
  border-bottom: 1px solid #00b140;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 15px;
}

.footer {
  max-width: 1600px;
  margin: 0 auto;
}

/* ========= Media Queries =========  */

@media (max-width: 992px) {
  .player {
    max-width: 275px;
    max-height: 350px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 30px;
    background-position: top;
    background-size: 300%;
    padding-bottom: 30px;
    min-height: auto;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 14px;
  }
  .team-name {
    font-size: 22px;
    margin-top: 40px;
  }
  .team-name div {
    max-width: 100%;
    margin: 0 7%;
  }
  .team-flag img {
    max-width: 100px;
    max-height: 100px;
  }
  .vs {
    font-size: 22px;
    padding: 18px 12px 24px;
  }
  .player {
    max-width: 200px;
    max-height: 250px;
  }
  .coef {
    font-size: 22px;
  }
  .date {
    margin-top: 28px;
    font-size: 22px;
  }
  .coef div {
    margin: 15px 5% 0;
  }
  .cta-button {
    margin-top: 20px;
    transform: translate(0, 0);
    padding: 20px 30px;
  }
  .cta-button a {
    font-size: 16px;
    padding: 10px 15px;
  }
  .cta-button a svg {
    display: none;
  }
  .footer {
    padding: 20px 0;
    background-color: #000;
    position: relative;
  }
  .steps {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .step-number {
    font-size: 36px;
  }
  .step-text {
    font-size: 14px;
    padding-bottom: 2px;
  }
}

@media (max-width: 650px) {
  .main {
    padding-bottom: 10px;
  }
  .team-name {
    font-size: 18px;
    margin-top: 26px;
  }
  .team-name div {
    max-width: 150px;
  }
  .team-flag {
    margin-top: 16px;
  }
  .player {
    max-width: 1200px;
    max-height: 150px;
  }
}

@media (max-width: 480px) {
  .cta-button a {
    font-size: 12px;
    padding: 5spx 4px;
  }
}

/* iphone X */
@media (width: 375px) and (height: 812px) {
  .cta-button a {
    font-size: 18px;
    padding: 5spx 4px;
  }
}

/* iPad landscape */
@media (width: 1024px) and (height: 768px) {
	.main {
    padding-top: 25px;
    padding-bottom: 30px;
    min-height: auto;
  }
  .team-name {
    margin-top: 25px;
  }
  .cta-button {
    margin-top: 50px;
    transform: translate(0, 0);
  }
	
}

/* iPad portrait */
@media (width: 768px) and (height: 1024px) {
	.main {
    padding-top: 25px;
    padding-bottom: 30px;
    min-height: auto;
  }
  .team-name {
    margin-top: 25px;
  }
  .cta-button {
    margin-top: 50px;
    transform: translate(0, 0);
  }
	.event-data .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
  }
}

/* iPad Pro landscape */
@media (width: 1366px) and (height: 1024px) {
	.main {
    padding-top: 25px;
    padding-bottom: 30px;
    min-height: auto;
  }
  .team-name {
    margin-top: 25px;
  }
  .cta-button {
    margin-top: 50px;
    transform: translate(0, 0);
  }
}
	

/* Laptop with HiDPI Screen */
@media (width: 1440px) and (height: 900px) {
  .main {
    padding-top: 25px;
    padding-bottom: 30px;
    min-height: auto;
  }
  .team-name {
    margin-top: 25px;
  }
  .cta-button {
    margin-top: 50px;
    transform: translate(0, 0);
  }
}

/* Laptop with MDPI Screen */
@media (width: 1280px) and (height: 800px) {
  .main {
    padding-top: 25px;
    padding-bottom: 30px;
    min-height: auto;
  }
  .team-name {
    margin-top: 25px;
  }
  .cta-button {
    margin-top: 50px;
    transform: translate(0, 0);
  }
}

@media (max-width: 650px) and (min-height: 376px) and (max-height: 850px) {
  .event-data .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
  }
}
