html {
  font-size: 8px;
}

.page-template-start {
  user-select: none;
  background-color: #414b57;
  background-image: radial-gradient(
    ellipse at center,
    rgba(25, 129, 137, 1) 0%,
    rgba(20, 30, 38, 0.67) 75%,
    rgba(20, 30, 38, 1) 100%
  );
  background-size: contain;

  .main {
    background-size: 75px;
    background-repeat: repeat;
  }

  .stad-bg {
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 50%;
  }

  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
  }

  h1 {
    font-family: $bazabetFont;
    color: $greenColor;
    margin: 2.5rem auto 0;
    font-size: 5.0625rem;
    flex-basis: 10%;
    order: 1;
  }

  h2 {
    font-family: $formularLight;
    letter-spacing: 2rem;
    margin-left: 2.625rem;
    font-size: 4rem;
    order: 2;
    flex-basis: 5%;
    animation: heading-blink 1.5s infinite linear;
  }

  h3 {
    font-family: $bazabetFont;
    font-size: 6.25rem;
    text-shadow: 0 -0.3125rem 5rem $greenColor, 0.3125rem 0 5rem $greenColor,
      0 10px 0.3125rem black, -0.3125rem 0 5rem $greenColor;
    order: 3;
    flex-basis: 44%;
    animation: heading-blink 1.5s infinite linear;
  }

  .players {
    max-width: 100%;
		display: block;
    max-height: 820px;
    margin: 0 auto;
    order: 4;
  }

  .benefits {
    display: none;
  }

  .cta-button {
    order: 5;
    flex-basis: 15%;
    transform: translateY(-62px);
    a {
      font-family: $formularMedium;
      font-size: 2.0625rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.9375rem 2.5rem;
      background-color: $greenColor;
      cursor: pointer;
      box-shadow: 0.5rem 0.5rem 0 rgba(0, 31, 11, 0.3);
      transition: 0.5s;
      position: relative;
      letter-spacing: 0.125rem;
      &:hover {
        background-color: #009d39;
        box-shadow: none;
        cursor: pointer;
      }
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .steps {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    order: 6;
    text-align: left;
		margin-bottom: 1rem;
    .step {
      display: flex;
      align-items: center;
      &-number {
        font-family: $bazabetFont;
        font-size: 3rem;
        color: $greenColor;
      }
      &-text {
        font-family: $formularBold;
        border-bottom: 1px solid $greenColor;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 15px;
      }
    }
  }

  @media (min-width: 600px) {
    .stad-bg {
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50% 50%;
    }
  }
  @media (min-width: 801px) {
    .benefits {
      display: flex;
      justify-content: space-around;
      margin: 0.625rem auto 0;
      order: 0;
      flex-basis: 12%;
      .benefit {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-icon {
          width: 2.25rem;
          height: 2.25rem;
          margin-right: 3%;
          &:hover ~ .benefit-text {
            opacity: 1;
          }
        }
        &-text {
          text-transform: uppercase;
          max-width: 242px;
          font-size: 0.8125rem;
          transition: opacity 0.5s;
          opacity: 0;
          margin-top: 0.3125rem;
        }
      }
    }
    .steps {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 0 1rem;
    }
    h1 {
      flex-basis: 15%;
      margin-top: 0;
    }
    h3 {
      flex-basis: 15%;
    }
  }
  @media (min-width: 1025px) {
    h1 {
      flex-basis: 10%;
    }
    .benefits {
      flex-basis: 24%;
    }
  }
  @media (min-width: 1281px) {
    h1 {
      flex-basis: 3%;
    }
    h3 {
      flex-basis: 40%;
    }
    .cta-button {
      flex-basis: 20%;
    }
  }
  @media (min-width: 1921px) {
    .stad-bg {
      background-size: 100%;
      background-position: 50% 100%;
    }
    h1 {
      flex-basis: 3%;
    }
    h3 {
      flex-basis: 40%;
    }
    .cta-button {
      flex-basis: 20%;
    }
  }
  @media (min-width: 1921px) and (max-height: 882px) {
    .stad-bg {
      background-image: none !important;
    }
		.players {
			display: none;
		}
  }
	@media (min-width: 2560px) and (min-height: 1151px) {
	.container {
		justify-content: space-evenly;
	}
}
}

// html rem
@media (min-width: 375px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 801px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1025px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1281px) {
  html {
    font-size: 16px;
  }
}

// special media
@media (min-width: 568px) and (max-height: 567px) {
  .page-template-start {
    .stad-bg {
      background-image: none !important;
    }
    h1 {
      flex-basis: 21%;
    }
    h3 {
      flex-basis: 30%;
    }
    .players {
      display: none;
    }
    .cta-button {
      transform: translateY(0px);
    }
    .steps {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
    }
  }
}

@media (max-height: 320px) {
  html {
    font-size: 6px;
  }
  .page-template-start {
    .stad-bg {
      background-image: none !important;
    }
    h1 {
      flex-basis: 21%;
    }
    h3 {
      flex-basis: 30%;
    }
    .steps {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
    }
  }
}
